body {
    background-color: rgb(157, 157, 255);
    text-align: center;
    font-family: monospace;
    outline: 0;
}
h1 {
    padding: 50px 0;
    font-size: 60px;
}
#name {
    display: flex;
    justify-content: center;
    font-size: 40px;
}
#name p {
    padding: 0 200px;
    margin-top: 0;
}
#counter {
    font-size: 30px;
    margin: 10px 0;
}
#buttons {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
#imgDiv {
    display: flex;
    justify-content: center;
}
#imgDiv img {
    padding: 0 100px;
}
#score {
    display: flex;
    justify-content: center;
    
}
#score p {
    margin: 0;
    
}
h2 {
    font-size: 30px;
}
#score p {
    padding: 0 200px;
    font-size: 50px;
}
h3{
    font-size: 30px;
}
#buttons button {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    outline: 0;
    transition-duration: 400ms;
    font-size: 20px;
    background-color: #2600ff;
    color: white;
    border-radius: 10px;
    width: 150px;
}
#buttons button:hover {
    box-shadow: 1px 1px gray;
    transform: translateY(-5px);
}